.heroslider {
    background-color: var(--first-color);
    padding: 70px 0;
}

.heroslider .h-100vh {
    height: 100vh !important;
}

.heroslider p {
    color: var(--second-color);
}

.heroslider .slider-img img {
    max-width: 30%;
}


/* 1024px */
@media(min-width:768px) {
    .heroslider .h-100vh {
        height: auto !important;
    }

}


/* 1024px */
@media(min-width:992px) {
    .heroslider {
        padding: 0px 0;
    }

    .heroslider .h-100vh {
        height: 100vh !important;
    }

}